# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Variáveis de Ambiente e Arquivos Temporários
.env
.env.local
.env.*.local
.env.production
*.local
tmp
temp

# Dependências
/node_modules

# Build e Produção
/dist
/dist-ssr
/build
/out

# IDEs e Ferramentas
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?